/** * Eric Meyer's Reset CSS v2.0 */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {    margin: 0;  padding: 0; border: 0;  font-size: 100%;  font: inherit;  vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  display: block;}body {  line-height: 1;}ol, ul {  list-style: none;}blockquote, q { quotes: none;}blockquote:before, blockquote:after,q:before, q:after { content: '';  content: none;}table {  border-collapse: collapse;  border-spacing: 0;}
.navbar {
  float: left;
  width: 20%;
}
.navbar nav {
  width: 100%;
}
.navbar ul {
  padding: 5px;
}
.navbar li {
  padding: 5px 5px 5px 20px;
  border: 1px solid #c0c0c0;
  font: 12px Arial;
}
.navbar li:hover {
  cursor: pointer;
  border-color: #2a9fcd;
  background-color: #e7ebff;
  font-weight: bold;
}
.content-wrapper {
  float: left;
  width: 80%;
}
.content-wrapper section {
  width: 100%;
}
.box {
  color: #fe33ac;
  border-color: #fdcdea;
}
.box div {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
