.today-weather .title {
  font: 16px Arial;
  padding: 4px 0;
  border-bottom: 1px solid #000000;
}
.today-weather form {
  margin-top: 10px;
  margin-bottom: 30px;
}
.today-weather form .error-message {
  display: none;
  max-width: 60%;
  border: 2px solid #f19a9a;
  background-color: #fbe2e2;
  margin: 10px 0;
  line-height: 30px;
  padding: 0 5px;
}
.today-weather form label {
  margin-right: 20px;
}
.today-weather form input {
  margin-left: 10px;
}
.today-weather form.error .error-message {
  display: block;
}
.today-weather .weather-section .load-image {
  display: none;
  margin-left: 250px;
}
.today-weather .weather-section .upper-group {
  width: 300px;
  height: 120px;
  padding-left: 160px;
}
.today-weather .weather-section .upper-group .text {
  float: left;
  margin-top: 20px;
}
.today-weather .weather-section .upper-group .text h1 {
  font-size: 30px;
  font-weight: bold;
}
.today-weather .weather-section .upper-group .text h3 {
  font-size: 20px;
  color: #999;
}
.today-weather .weather-section .upper-group .weather-sprite {
  float: left;
  display: block;
  width: 74px;
  height: 74px;
  background-image: url('../img/icons.png');
  background-position: -137px -511px;
}
.today-weather .weather-section .upper-group .weather-sprite.cloud {
  background-position: -64px -366px;
}
.today-weather .weather-section .upper-group .weather-sprite.rain {
  background-position: -281px -366px;
}
.today-weather .weather-section .upper-group .weather-sprite.sun {
  background-position: -64px -8px;
}
.today-weather .weather-section .lower-group {
  clear: both;
  margin-top: 30px;
  padding-left: 100px;
}
.today-weather .weather-section .lower-group p {
  line-height: 30px;
}
.today-weather .weather-section.loading .load-image {
  display: block;
}
.today-weather .weather-section.loading .weather-summary {
  display: none;
}
