<div class="today-weather">
  <h1 class="title">Today's Weather</h1>
  <form name="weather" action="http://api.openweathermap.org/data/2.5/weather" method="GET" target="_blank">
    <div class="error-message"></div>
    <label>City: <input type="text" name="city" placeholder="Taipei" /></label> 
    <label>Country : <input type="text" name="country" placeholder="TW" /></label> 
    <input type="submit" value="Search" />
  </form>
  <div id="result">
    
  </div>
</div>
<script id="weather-template" type="text/x-handlebars-template">
  <div class="weather-section {{#if querying}}loading{{/if}}">
    <div class="load-image"> 
      <img src="./img/loading.gif" alt="loading" />
    </div>

  {{#if weather.main}}
    <div class="weather-summary">
      <div class="upper-group">
        <i class="weather-sprite {{weather.type}}" />
        <div class="text">
          <h1>{{weather.main}}</h1>
          <h3>{{weather.description}}</h3>
        </div>
      </div>
      <div class="lower-group">
        <p>   Location: {{weather.name}}</p>
        <p>Temperature: {{weather.temperature}}</p>
        <p>   Humidity: {{weather.humidity}}   </p>
      </div>
    </div>
  {{/if}}

  </div>
</script>